<div class="sidebar-box" data-box-priority="2">
        <h3 class="sidebar-box__header">{{box_title}}</h3>
        <ol class="sidebar-box-list sidebar-box-list--ordered">
                <li class="sidebar-box-list__item sidebar-box-list__item--ordered">
                <!-- image -->
                        <a class="analytics t-most-popular-sidebar-item-1 hide-small show-large" href="/news/gap-inc-acquires-3d-fitting-room-startup-drapr/605691/">
                                <img class="sidebar-box-list__image" src="/user_media/cache/37/4c/374ca8611db7b8776856ec4039e6b58e.jpg" width="270" height="127" alt="story image" loading="lazy">    
                        </a>
                </li>
                <li class="sidebar-box-list__item sidebar-box-list__item--ordered">
                        <a class="analytics t-most-popular-sidebar-item-5 sidebar-box-list__item-title" href="/news/gap-keeps-mum-about-its-yeezy-collection-as-old-navy-athleta-dominate-q2/605689/">Gap keeps mum about its Yeezy collection as Old Navy, Athleta dominate Q2</a> <!--Article Title-->
                </li>
        </ol>
</div>