{% extends 'wavepool/base2.html' %}
{% load static %}

{% block extra_style %}
	<link href="{% static 'css/news.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content %}
	<section class="dash-top">
		<div class="row">
			<div class="large-12 medium-10 medium-centered columns">
				<div class="large-6 columns">
					<section class="hero-article">
						<figure class="hero-article__container">
							<a href="{{ cover_story.url }}">
								<img src="{% static 'image/placeholder-img.jpg' %}"  class="t-dash-hero-img" />
							</a>
							<h1><a href="{{ cover_story.url }}">{{ cover_story.title }}</a></h1>
							<p class="hero-article__teaser">{{ cover_story.teaser|safe  }}</p>
							<a class="call-out-link analytics t-dash-hero-readmore nowrap" href="{{ cover_story.url }}">Read more
	                            <span class="call-out-link__arrow">➔</span>
	                        </a>
						</figure>
					</section>
				</div>
				<div id="topstories" class="large-6 columns">
					<secton class="top-stories">
					<h2 class="dash-header">Top Stories</h2>
					<ol>
						{% for story in top_stories %}
						<li>
							<h3><a href="{{story.url}}">{{story.title}}</a></h3>
						</li>
						{% endfor %}
					</ol>
					</secton>
				</div>
			</div>
		</div>
	</section>
	<div class="row">
		<div class="medium-10 medium-centered large-12">
			<section id="main-content" class="main-content large-8 columns">
				<section class="dash-feed"> 
            		<h2 class="dash-header hide-small show-large">The Latest</h2>
            		<ul class="feed layout-stack-xxl">
            			{% for story in recent_stories %}
            			<li class="row feed__item">
            				<div class="medium-4 columns">
            					<figure class="feed__image-container">
                                    <a class="feed__image" href="{{story.url}}">
                                    	<img src="{% static 'image/placeholder-img.jpg' %}" alt="" width="275" height="130">
                                    </a>
                                </figure>
            				</div>
            				<div class="medium-8 columns">
            					<h3 class="feed__title feed__title--display">
                                	<a href="{{story.url}}">{{story.title}}
                                </a>
                            	</h3>
                            	<p class="feed__description">{{story.teaser}}</p>
            				</div>
            			</li>
            			{% endfor %}
            		</ul>
        		</section>
			</section>
			<aside class="sidebar large-4 columns">
				{% include 'news/includes/sidebar.html' %}
			</aside>
		</div>
	</div>
{% endblock %}
